<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM Tobacco | Cart</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="header">
    <div class="container">
        <h1 class="logo"><a href="/index">MM Tobacco</a></h1>
        <nav class="nav">
            <ul>
                <li><a href="/api/catalogue">Տեսականի</a></li>
                <li><a href="/api/contact">Կապ մեզ հետ</a></li>
            </ul>
        </nav>
        <div class="cart-language">
            <a href="/api/cart" class="cart-icon">🛒</a>
            <select name="" id="select">
<!--                <option value="">ENG</option>-->
<!--                <option value="">RUS</option>-->
                <option value="" selected>ARM</option>
            </select>
        </div>
    </div>
</header>

<section class="cart">
    <h2>Զամբյուղ</h2>
    <div class="cart-table">
        <div class="cart-header">
            <span>Ապրանք</span>
            <span>Գին</span>
            <span>Քանակ</span>
            <span>Գին X Քանակ</span>
            <span>Գործողություն</span>
        </div>
        <div id="cartItems"></div>
    </div>
    <div class="cart-summary">
<!--        <label for="currency">Currency:</label>-->
<!--        <select id="currency">-->
<!--            <option value="USD" selected>USD ($)</option>-->
<!--            <option value="EUR">EUR (€)</option>-->
<!--            <option value="RUB">RUB (₽)</option>-->
<!--            <option value="AMD">AMD (֏)</option>-->
<!--        </select>-->
        <p>Գումարային: <span id="subtotal">0 Դ</span></p>
        <p>Սպասարկում (10%): <span id="tax">0 Դ</span></p>
        <p><strong>Ընդհանուր:</strong> <span id="total" data-usd="0">0 Դ</span></p>
        <button class="btn checkout-btn">Գրանցել պատվեր</button>
    </div>
</section>

<footer class="footer">
    <div class="footer-container">
        <div class="newsletter">
            <div class="newsletter-containter">
                <h3>Գրանցվեք մեր նորությունների համար</h3>
                <p>Առաջինը տեղեկացեք հատուկ առաջարկների, նոր ապրանքների և միջոցառումների մասին։</p>
            </div>

            <form action="/api/newsletter" method="post">
                <input class="input-area" type="email" name="email" placeholder="Մուտքագրեք Ձեր Mail-ը" required>
                <button type="submit" class="btn">Գրանցվել</button>
            </form>

            <p th:if="${message}" style="color: green;">[[${message}]]</p>
            <p th:if="${error}" style="color: red;">[[${error}]]</p>
        </div>
        <div class="map" id="map" style="width: 100%; height: 300px;"></div>
        <script src="https://api-maps.yandex.ru/2.1/?lang=en_RU" type="text/javascript"></script>
        <script>
            ymaps.ready(function () {
                var myMap = new ymaps.Map('map', {
                    center: [40.808044, 44.494538],
                    zoom: 20
                });

                var myPlacemark = new ymaps.Placemark([40.808044, 44.494538], {
                    hintContent: 'MM Tobacco',
                    balloonContent: 'MM Tobacco location'
                });
                myMap.geoObjects.add(myPlacemark);

                function centerMap(newCoords) {
                    myMap.setCenter(newCoords);
                    myPlacemark.geometry.setCoordinates(newCoords);
                }
            });
        </script>
    </div>
</footer>

<script src="/js/script.js"></script>
</body>
</html>

