<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM Tobacco | Catalogue</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <h1 class="logo"><a href="/index">MM Tobacco</a></h1>
        <nav class="nav">
            <ul>
                <li><a href="/api/catalogue">Տեսականի</a></li>
                <li><a href="/api/contact">Կապ մեզ հետ</a></li>
            </ul>
        </nav>
        <div class="cart-language">
            <a href="/api/cart" class="cart-icon">🛒</a>
            <select name="" id="select">
<!--                <option value="">ENG</option>-->
<!--                <option value="">RUS</option>-->
                <option value="" selected>ARM</option>
            </select>

        </div>
    </div>
</header>

<section class="catalogue">
    <div class="head-filters-for-catalogue">
    <h2>Մեր տեսականին</h2>
    <form class="filters-for-catalogue" method="get" action="/api/catalogue">
        <label for="minPrice">Նվազագույն </label>
        <input type="number" name="minPrice" id="minPrice" min="0" max="100000" placeholder="0 Դ" step="1000" th:value="${minPrice}">

        <label for="maxPrice">Առավելագույն </label>
        <input type="number" name="maxPrice" id="maxPrice" min="0" max="100000" placeholder="100․000 Դ" step="1000" th:value="${maxPrice}">

        <label for="category">Տեսակ </label>
        <select name="category" id="category" th:value="${category}">
            <option value="">Բոլորը</option>
            <option value="accessories">Աքսեսուար</option>
            <option value="tobacco">Թութուն</option>
            <option value="cigar">Սարք</option>
            <option value="cigar">Սիգար</option>
            <option value="cigar">Սիգարիլա</option>
        </select>
        <button type="submit">Ֆիլտրել</button>
    </form>
    </div>
    <div class="product-grid">
        <div class="product-card" th:each="product, iterStat : ${products}"
             th:if="${iterStat.index < 9}" th:data-id="${product.id}">
            <div class="product-image">
                <img th:src="${product.imageUrl}" alt="Product Image">
            </div>
            <h3 th:text="${product.name}"></h3>
            <p th:text="${product.price} + ' Դ'"></p>
        </div>
    </div>


    <div class="pagination" th:if="${totalPages > 0}">
        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/api/catalogue(page=${i -1})}" th:text="${i}"
               th:classappend="${(i - 1) == currentPage} ? 'active' : ''"></a>
        </span>

    </div>
</section>

<footer class="footer">
    <div class="footer-container">
        <div class="newsletter">
            <div class="newsletter-containter">
                <h3>Գրանցվեք մեր նորությունների համար</h3>
                <p>Առաջինը տեղեկացեք հատուկ առաջարկների, նոր ապրանքների և միջոցառումների մասին։</p>
            </div>

            <form action="/api/newsletter" method="post">
                <input class="input-area" type="email" name="email" placeholder="Մուտքագրեք Ձեր Mail-ը" required>
                <button type="submit" class="btn">Գրանցվել</button>
            </form>

            <p th:if="${message}" style="color: green;">[[${message}]]</p>
            <p th:if="${error}" style="color: red;">[[${error}]]</p>
        </div>
        <div class="map" id="map" style="width: 100%; height: 300px;"></div>
        <script src="https://api-maps.yandex.ru/2.1/?lang=en_RU" type="text/javascript"></script>
        <script>
            ymaps.ready(function () {
                var myMap = new ymaps.Map('map', {
                    center: [40.808044, 44.494538],
                    zoom: 20
                });

                var myPlacemark = new ymaps.Placemark([40.808044, 44.494538], {
                    hintContent: 'MM Tobacco',
                    balloonContent: 'MM Tobacco location'
                });
                myMap.geoObjects.add(myPlacemark);

                function centerMap(newCoords) {
                    myMap.setCenter(newCoords);
                    myPlacemark.geometry.setCoordinates(newCoords);
                }
            });
        </script>
    </div>
</footer>

<div id="productModal" class="modal hidden">
    <div class="modal-content">
        <span class="close-btn">❌</span>
        <div id="modalDetails"></div>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>
