<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MM Tobacco | Contact Us</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
  <div class="container">
    <h1 class="logo"><a href="/index">MM Tobacco</a></h1>
    <nav class="nav">
      <ul>
        <li><a href="/api/catalogue">Catalogue</a></li>
        <li><a href="/api/contact">Contact Us</a></li>
      </ul>
    </nav>
    <div class="cart-language">
      <a href="/api/cart" class="cart-icon">🛒</a>
      <select name="" id="select">
        <option value="" selected>ENG</option>
        <option value="">RUS</option>
        <option value="">ARM</option>
      </select>

    </div>
  </div>
</header>
<section class="contact">
  <h2>Contact Us</h2>
  <form action="/api/contact/submit" method="post" target="hidden_iframe" id="contactForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="firstName" placeholder="Your name" required>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="lastName" placeholder="Your surname" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Your email" required>

    <label for="phone-number">Phone number:</label>
    <input type="text" id="phone-number" name="phone" placeholder="Your phone number" required>

    <label>Choose messenger for contact with you:</label>
    <div class="checkbox-group">
      <div>
        <input type="checkbox" id="telegram" name="messenger" value="Telegram">
        <label for="telegram">Telegram</label>
      </div>
      <div>
        <input type="checkbox" id="whatsapp" name="messenger" value="WhatsApp">
        <label for="whatsapp">WhatsApp</label>
      </div>
      <div>
        <input type="checkbox" id="viber" name="messenger" value="Viber">
        <label for="viber">Viber</label>
      </div>
    </div>
    <div>
      <input type="hidden" id="cartData" name="message">
    </div>
    <button type="submit" class="btn">Send Message</button>
  </form>

  <p id="successMessage" style="display: none; color: green; font-weight: bold;">Ваш запрос успешно отправлен!</p>

  <iframe name="hidden_iframe" style="display: none;" onload="showSuccessMessage()"></iframe>

</section>

<footer class="footer">
  <div class="footer-container">
    <div class="newsletter">
      <div class="newsletter-containter">
        <h3>Sign up for our newsletter</h3>
        <p>Be the first to know about our special offers, new product launches, and events.</p>
      </div>

      <form action="/api/newsletter" method="post">
        <input class="input-area" type="email" name="email" placeholder="Enter your email" required>
        <button type="submit" class="btn">Sign up</button>
      </form>
      <p th:if="${message}" style="color: green;">[[${message}]]</p>
      <p th:if="${error}" style="color: red;">[[${error}]]</p>
    </div>
    <div class="map">
      <div style="position:relative;overflow:hidden;"><a
              href="https://yandex.com/maps/org/mm_tobacco/156062979204/?utm_medium=mapframe&utm_source=maps"
              style="color:#eee;font-size:12px;position:absolute;top:0px;">Mm Tobacco</a><a
              href="https://yandex.com/maps/10258/vanadzor/category/tobacco_and_smoking_accessories_shop/184107903/?utm_medium=mapframe&utm_source=maps"
              style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин табака и курительных
        принадлежностей в Ванадзоре</a><a
              href="https://yandex.com/maps/10258/vanadzor/category/vape_shop/89800553252/?utm_medium=mapframe&utm_source=maps"
              style="color:#eee;font-size:12px;position:absolute;top:28px;">Вейп-шоп в Ванадзоре</a><iframe
              src="https://yandex.com/map-widget/v1/?ll=44.494599%2C40.808005&mode=poi&poi%5Bpoint%5D=44.494538%2C40.808044&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D156062979204&z=20.28"
              width="100%" height="300" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
      </div>
    </div>
  </div>
</footer>

<script src="/js/script.js"></script>
</body>
</html>
