<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MM Tobacco | Contact Us</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
  <div class="container">
    <h1 class="logo"><a href="/index">MM Tobacco</a></h1>
    <nav class="nav">
      <ul>
        <li><a href="/api/catalogue">Տեսականի</a></li>
        <li><a href="/api/contact">Կապ մեզ հետ</a></li>
      </ul>
    </nav>
    <div class="cart-language">
      <a href="/api/cart" class="cart-icon">🛒</a>
      <select name="" id="select">
<!--        <option value="">ENG</option>-->
<!--        <option value="">RUS</option>-->
        <option value="" selected>ARM</option>
      </select>

    </div>
  </div>
</header>
<section class="contact">
  <h2>Կապ մեզ հետ</h2>
  <form action="/api/contact/submit" method="post" target="hidden_iframe" id="contactForm">
<!--    <label for="name">Անուն:</label>-->
    <input type="text" id="name" name="firstName" placeholder="Անուն" required>

<!--    <label for="surname">Ազգանուն:</label>-->
    <input type="text" id="surname" name="lastName" placeholder="Ազգանուն" required>

<!--    <label for="email">Մեյլ:</label>-->
    <input type="email" id="email" name="email" placeholder="Mail" required>

<!--    <label for="phone-number">Հեռախոսահամար:</label>-->
    <input type="text" id="phone-number" name="phone" placeholder="Հեռախոսահամար" required>

    <label>Ընտրեք Messenger-ը՝ ձեզ հետ կապվելու համար:</label>
    <div class="checkbox-group">
      <div>
        <input type="checkbox" id="telegram" name="messenger" value="Telegram">
        <label for="telegram">Telegram</label>
      </div>
      <div>
        <input type="checkbox" id="whatsapp" name="messenger" value="WhatsApp">
        <label for="whatsapp">WhatsApp</label>
      </div>
      <div>
        <input type="checkbox" id="viber" name="messenger" value="Viber">
        <label for="viber">Viber</label>
      </div>
    </div>
    <div>
      <input type="hidden" id="cartData" name="message">
    </div>
    <button type="submit" class="btn">Ուղարկել հայտ</button>
  </form>

  <p id="successMessage" style="display: none; color: green; font-weight: bold;">Ձեր հարցումը հաջողությամբ ուղարկվել է։</p>

  <iframe name="hidden_iframe" style="display: none;" onload="showSuccessMessage()"></iframe>

</section>

<footer class="footer">
  <div class="footer-container">
    <div class="newsletter">
      <div class="newsletter-containter">
        <h3>Գրանցվեք մեր նորությունների համար</h3>
        <p>Առաջինը տեղեկացեք հատուկ առաջարկների, նոր ապրանքների և միջոցառումների մասին։</p>
      </div>

      <form action="/api/newsletter" method="post">
        <input class="input-area" type="email" name="email" placeholder="Մուտքագրեք Ձեր Mail-ը" required>
        <button type="submit" class="btn">Գրանցվել</button>
      </form>
      <p th:if="${message}" style="color: green;">[[${message}]]</p>
      <p th:if="${error}" style="color: red;">[[${error}]]</p>
    </div>
    <div class="map" id="map" style="width: 100%; height: 300px;"></div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=en_RU" type="text/javascript"></script>
    <script>
      ymaps.ready(function () {
        var myMap = new ymaps.Map('map', {
          center: [40.808044, 44.494538],
          zoom: 20
        });

        var myPlacemark = new ymaps.Placemark([40.808044, 44.494538], {
          hintContent: 'MM Tobacco',
          balloonContent: 'MM Tobacco location'
        });
        myMap.geoObjects.add(myPlacemark);

        function centerMap(newCoords) {
          myMap.setCenter(newCoords);
          myPlacemark.geometry.setCoordinates(newCoords);
        }
      });
    </script>
  </div>
</footer>

<script src="/js/script.js"></script>
</body>
</html>
